@model EntityLayer.Concrete.SiteYoneticisi
@{
    ViewData["Title"] = "SiteYoneticiDuzenle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="justify-content-center p-5">

    <h1>Site Yöneticisi Düzenleme Paneline Hoş Geldiniz</h1>
    <br />

    @using (Html.BeginForm("SiteYoneticiUpdate", "SiteYoneticiIslemleri", FormMethod.Post))
    {

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">İsminiz</label>
            @Html.TextBoxFor(x=>x.Name, new{@class="form-control"})
            @Html.ValidationMessageFor(x=>x.Name,"", new{@class="text-danger"})
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Soy İsminiz</label>
            @Html.TextBoxFor(x=>x.Surname, new{@class="form-control"})

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Adresiniz</label>
            @Html.TextBoxFor(x=>x.Adres, new{@class="form-control"})
            @Html.ValidationMessageFor(x=>x.Adres,"", new{@class="text-danger"})
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Telefon Numaranız</label>
            @Html.TextBoxFor(x=>x.Phone, new{@class="form-control"})
            @Html.ValidationMessageFor(x=>x.Phone,"", new{@class="text-danger"})
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Siteniz </label>
            @Html.DropDownListFor(x => x.SiteID, (List<SelectListItem>)ViewBag.siteIdListesi, "Site Seçiniz", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.SiteID, "", new { @class = "text-danger" })
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Varsa Blok Numaranız </label>
            @Html.TextBoxFor(x=>x.BlokName, new{@class="form-control"})

        </div>
        <div class="mb-3">
            @Html.HiddenFor(x => x.YoneticiID)
        </div>

        <button type="submit" class="btn btn-primary" id="SiteKaydetButton">Kaydet</button>

    }

</div>

